<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>affirmbutton/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,412},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>archer/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,149},{11,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00001_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,149},{11,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00002_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,129},{11,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00003_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,109},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00004_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,169},{11,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00005_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,129},{11,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00006_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,109},{11,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00007_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,169},{11,16}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00008_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,109},{11,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00009_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,129},{11,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00010_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,169},{11,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00011_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,109},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00012_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,129},{11,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00013_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,149},{11,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archer/00014_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,169},{11,16}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>archery/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,85}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>archerybutton/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,349},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>arrow/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,34},{5,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,11}}</string>
                <key>sourceSize</key>
                <string>{5,11}</string>
            </dict>
            <key>attackbutton/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,286},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>camp/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,220},{101,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,64}}</string>
                <key>sourceSize</key>
                <string>{101,64}</string>
            </dict>
            <key>campbutton/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,286},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>cancelbutton/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,286},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>castle/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{101,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,64}}</string>
                <key>sourceSize</key>
                <string>{101,64}</string>
            </dict>
            <key>cencelbutton/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>citadell/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,154},{101,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,64}}</string>
                <key>sourceSize</key>
                <string>{101,64}</string>
            </dict>
            <key>constructionsite/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>demolishbutton/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>deployareabutton/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>deployflag/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,349},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>fortress/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{101,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,64}}</string>
                <key>sourceSize</key>
                <string>{101,64}</string>
            </dict>
            <key>keep/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,88},{101,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,64}}</string>
                <key>sourceSize</key>
                <string>{101,64}</string>
            </dict>
            <key>knight/00000_WALK.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,176},{15,21}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00001_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,176},{15,21}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00002_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,155},{15,21}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00003_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,153},{15,21}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00004_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,61},{15,23}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{15,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00005_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,59},{15,23}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00006_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,36},{15,23}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{15,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00007_.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,34},{15,23}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{15,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00008_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,132},{15,21}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00009_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,130},{15,21}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00010_GOTO_WALK.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,109},{15,21}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00011_LOOP_WAIT.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,199},{15,19}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00012_FIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,199},{15,19}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00013_.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,259},{13,23}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{13,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00014_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,107},{15,21}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00015_DAMAGE.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{21,19}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{21,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00016_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,107},{15,21}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00017_.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,259},{13,23}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{13,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00018_GOTO_LOOP_WAIT.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,199},{15,19}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00019_APPROACH_FIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,199},{15,19}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00020_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,86},{15,21}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00021_.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,234},{13,23}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{13,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00022_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,254},{13,23}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{13,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00023_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,84},{11,23}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{11,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00024_.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,234},{13,23}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00025_.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,59},{11,23}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{11,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00026_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,254},{13,23}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{13,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00027_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,229},{13,23}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{13,23}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00028_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,84},{15,21}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{15,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00029_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,199},{15,19}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00030_GOTO_APPROACH_FIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,199},{15,19}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00031_DIE.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,199},{15,19}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00032_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,178},{15,19}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{15,19}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00033_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,199},{15,15}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{15,15}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00034_.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{17,15}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{17,15}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00035_.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,19},{17,13}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{17,13}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00036_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,23},{17,11}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{17,11}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00037_.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,216},{15,9}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{15,9}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00038_.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,220},{15,7}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{15,7}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>knight/00039_DEAD.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,227},{15,5}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{15,5}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>minershut/00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,84}}</string>
                <key>sourceSize</key>
                <string>{101,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a541a57c2061f1b0351cf0c8a296868$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
